@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn{
        @apply bg-[#f8f9fa] p-3 rounded-md ring-gray-200 text-sm text-gray-800 hover:ring-1 focus:outline-none active:ring-gray-300 hover:shadow-lg;

    }
    .djinsearch{
        @apply h-7 flex flex-grow   mr-5  rounded-md ring-gray-200 text-sm text-gray-800 w-full  ml-1 focus:outline-none  ;

    }
    
    
    .link{
        @apply hover:underline cursor-pointer ;

    }
    
}
